<html>
    <head>
        <link rel="manifest" href="/manifest.json" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/2.0.0/trianglify.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>

    <body>
        <script>
            function setBackground() {
                var target = document.body
                var dimensions = target.getClientRects()[0]
                var pattern = Trianglify({
                    width: dimensions.width,
                    height: dimensions.height,
                    x_colors: "GnBu",
                })
                target.style["background-image"] = "url(" + pattern.png() + ")"
            }
            setBackground()
            window.addEventListener("resize", setBackground)
        </script>

        <script>
            const applicationServerPublicKey =
                "BGxFCMN557K54skPUp-JLqbMfbc5u_3uyB8Zx4-VgGN4c4XqixyQ1Pbh5lSfosXIMSo9V3OvQlWdKj1WlSF8W14"
            function getUrlVars() {
                var vars = {}
                var parts = window.location.href.replace(
                    /[?&]+([^=&]+)=([^&]*)/gi,
                    function(m, key, value) {
                        vars[key] = value
                    }
                )
                return vars
            }

            function urlB64ToUint8Array(base64String) {
                const padding = "=".repeat((4 - (base64String.length % 4)) % 4)
                const base64 = (base64String + padding)
                    .replace(/\-/g, "+")
                    .replace(/_/g, "/")

                const rawData = window.atob(base64)
                const outputArray = new Uint8Array(rawData.length)

                for (let i = 0; i < rawData.length; ++i) {
                    outputArray[i] = rawData.charCodeAt(i)
                }
                return outputArray.buffer
            }

            // check support
            if (
                "serviceWorker" in navigator &&
                "PushManager" in window &&
                getUrlVars().userId
            ) {
                console.log("Service Worker and Push is supported")

                // registering service worker
                navigator.serviceWorker
                    .register("sw.js")
                    .then(function(swReg) {
                        console.log("Service Worker is registered", swReg)

                        // checking subscription
                        swReg.pushManager
                            .getSubscription()
                            .then(function(subscription) {
                                const isSubscribed = !(subscription === null)

                                if (isSubscribed) {
                                    console.log("user is already subscribed")
                                    sendSubscriptionToServer(subscription)
                                } else {
                                    // subscribing user
                                    console.log(applicationServerPublicKey)
                                    const applicationServerKey = urlB64ToUint8Array(
                                        applicationServerPublicKey
                                    )
                                    swReg.pushManager
                                        .subscribe({
                                            userVisibleOnly: true,
                                            applicationServerKey: applicationServerKey,
                                        })
                                        .then(function(subscription) {
                                            console.log("User is subscribed.")

                                            sendSubscriptionToServer(
                                                subscription
                                            )
                                        })
                                    // .catch(function (err) {
                                    //   console.error(err, err.stack)
                                    // });
                                }
                            })
                    })
                    .catch(function(error) {
                        console.error(error)
                    })
            } else {
                console.warn("Push messaging is not supported")
            }

            function sendSubscriptionToServer(subscription) {
                console.log(JSON.stringify(subscription))

                return fetch(
                    "https://dokku.ml/webPushSubscribe?userId=" +
                        getUrlVars().userId,
                    {
                        body: JSON.stringify(subscription), // must match 'Content-Type' header
                        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: "same-origin", // include, same-origin, *omit
                        headers: {
                            "user-agent": "Mozilla/4.0 MDN Example",
                            "content-type": "application/json",
                        },
                        method: "POST", // *GET, POST, PUT, DELETE, etc.
                        mode: "cors", // no-cors, cors, *same-origin
                        redirect: "follow", // manual, *follow, error
                        referrer: "no-referrer", // *client, no-referrer
                    }
                )
            }
        </script>

        <div id="content">
            <p id="subscribed">You are subscribed!</p>
        </div>
    </body>
</html>
